ASSET_PREFIX=stag
BUNDLE_IDENTIFIER=com.memorylovers.yattaday.stag
BUNDLE_NAME=Stag: Yatta Day
BUNDLE_DISPLAY_NAME=Stag: Yatta Day
LAUNCH_SCREEN_STORYBOARD=LaunchScreen.storyboard
ADMOB_APP_ID=ca-app-pub-3940256099942544~1458002511
GOOGLE_OAUTH_REVERSED_CLIENT_ID=com.googleusercontent.apps.764704445887-mnpo5pat47inm0sm91g4n614f942o874
