ASSET_PREFIX=dev
BUNDLE_IDENTIFIER=com.memorylovers.yattaday.dev
BUNDLE_NAME=Dev: Yatta Day
BUNDLE_DISPLAY_NAME=Dev: Yatta Day
LAUNCH_SCREEN_STORYBOARD=LaunchScreen.storyboard
ADMOB_APP_ID=ca-app-pub-3940256099942544~1458002511
GOOGLE_OAUTH_REVERSED_CLIENT_ID=com.googleusercontent.apps.764704445887-u0prk3g8hl9c7hbnoddr156jl0tdhd6l
