<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764704445887-mnpo5pat47inm0sm91g4n614f942o874.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764704445887-mnpo5pat47inm0sm91g4n614f942o874</string>
	<key>API_KEY</key>
	<string>AIzaSyADYmWaGEP-mPhO12Rn-OX2uzZ24B0tR0U</string>
	<key>GCM_SENDER_ID</key>
	<string>764704445887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.memorylovers.yattaday.stag</string>
	<key>PROJECT_ID</key>
	<string>yattaday-stag</string>
	<key>STORAGE_BUCKET</key>
	<string>yattaday-stag.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764704445887:ios:4156f7c0271e7456827d0a</string>
</dict>
</plist>