<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249468482016-u49lrnncs6krhhn2cmd97rcbus3t7fll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249468482016-u49lrnncs6krhhn2cmd97rcbus3t7fll</string>
	<key>API_KEY</key>
	<string>AIzaSyD8GO-qcgUMT6tijfB345Bbli5_HDmyCpo</string>
	<key>GCM_SENDER_ID</key>
	<string>249468482016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.memorylovers.myapp</string>
	<key>PROJECT_ID</key>
	<string>memorylovers-myapp-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>memorylovers-myapp-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249468482016:ios:72319fc0c6717212e3fb85</string>
</dict>
</plist>